# WA Settings 089531048917

title: Chalia Grocery
description: Food & Grocery store online.
lokasi: Sumedang
adminWa: 082118762872

url: https://chaliagrocery.netlify.app
sitekey: 6LdPL-wZAAAAAAzUvjEWXHGLAgKL78wBzB1IR8t7
appID: 5e6a1bc8-9432-4403-b8dc-d7dfabf2a7d4
dev: UnanG

news: '10%  cashback untuk 100 pembeli pertama'
code: 

encoding: UTF-8
permalink: /products/:title/
paginate: 12
paginate_path: "/products/page-:num/"

markdown: kramdown
kramdown:
  input: GFM

sass:
  sass_dir: /assets/_sass
  style: compressed

collections:
  blogs:
    output: true

defaults:
- scope:
    type: posts
  values:
    layout: post
- scope:
    type: pages
  values:
    layout: page
- scope:
    type: blogs
  values:
    layout: blog
- scope:
    type: checkout
  values:
    layout: checkout
- scope:
    type: order-terkirim
  values:
    layout: none

sidebar_options:
  - sidebar
  - no-sidebar

gems:
  - jekyll-feed
  - jekyll-figure
  - jekyll-sitemap
  - jekyll-archives
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sass-converter

jekyll-archives:
  enabled:
    - categories
    - tags
  layout: archive
  permalinks:
    categories: '/category/:name/'
    tags: '/tag/:name/'

compress_html:
  clippings: all
  ignore:
    envs: development

exclude: [lib, config.rb, .sass-cache, Capfile, config, log, Rakefile, Rakefile.rb, tmp, Gemfile, Gemfile.lock, README.md, LICENSE.md, node_modules, gulpfile.js, package.json]
