
<section class="carousel-slider-main text-center border-top border-bottom bg-white">
<div class="owl-carousel owl-carousel-slider">
<div class="item">
<a href="{{site.baseurl}}/products"><img class="img-fluid" src="{{site.baseurl}}/assets/img/slider/slider3.png" alt="First slide"></a>
</div>
<div class="item">
<a href="{{site.baseurl}}/products"><img class="img-fluid" src="{{site.baseurl}}/assets/img/slider/slider2.png" alt="First slide"></a>
</div>
<div class="item">
<a href="{{site.baseurl}}/products"><img class="img-fluid" src="{{site.baseurl}}/assets/img/slider/slider1.png" alt="First slide"></a>
</div>
<div class="item">
<a href="{{site.baseurl}}/products"><img class="img-fluid" src="{{site.baseurl}}/assets/img/slider/slider5.png" alt="First slide"></a>
</div>
</div>
</section>
