<section class="top-category section-padding">
<div class="container">
<div class="owl-carousel owl-carousel-category">
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/1.jpg" alt="">
<h6>Fruits & Vegetables</h6>
<p>150 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/2.jpg" alt="">
<h6>Grocery & Staples</h6>
 <p>95 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/3.jpg" alt="">
<h6>Beverages</h6>
<p>65 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/4.jpg" alt="">
<h6>Home & Kitchen</h6>
<p>965 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/5.jpg" alt="">
<h6>Furnishing & Home Needs</h6>
<p>125 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/6.jpg" alt="">
<h6>Household Needs</h6>
<p>325 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/7.jpg" alt="">
<h6>Personal Care</h6>
<p>156 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/8.jpg" alt="">
<h6>Breakfast & Dairy</h6>
<p>857 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/9.jpg" alt="">
<h6>Biscuits, Snacks & Chocolates</h6>
<p>48 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/10.jpg" alt="">
<h6>Noodles, Sauces & Instant Food</h6>
<p>156 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/11.jpg" alt="">
<h6>Pet Care</h6>
<p>568 Items</p>
</a>
</div>
</div>
<div class="item">
<div class="category-item">
<a href="shop.html">
<img class="img-fluid" src="{{site.baseurl}}/assets/img/small/12.jpg" alt="">
<h6>Meats, Frozen & Seafood</h6>
<p>156 Items</p>
</a>
</div>
</div>
</div>
</div>
</section>
