<section class="pt-4 pb-4 footer-bottom">
<div class="container">
<div class="row no-gutters">
<div class="col-lg-6 col-sm-6">
<img alt="sendaljepit logo" src="{{site.baseurl}}/assets/img//pay-logo.webp" style="width:45%;">
</div>
<div class="col-lg-6 col-sm-6">
<p class="mt-1 mb-0">&copy; Copyright {{ site.time | date: '%Y' }} <strong class="text-dark">{{site.title}}</strong>. All Rights Reserved<br>
<small class="mt-0 mb-0">Made with <i class="mdi mdi-heart text-danger"></i> by <a href="https://sendaljepit.masuk.id/" target="_blank" class="text-primary"><span id="dev">{{site.dev}}</span></a>
</small>
</p>
</div>
</div>
</div>
</section>
