<section class="section-padding footer bg-white border-top">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3">
<h4 class="mb-5 mt-0"><a class="logo" href="/"><img class="logo-footer" src="{{site.baseurl}}/assets/img//logo-footer.png" alt="Groci"></a></h4>
<p class="mb-0"><a class="text-dark" href="#"><i class="mdi mdi-phone"></i> +62 525 240 310</a></p>
<p class="mb-0"><a class="text-dark" href="#"><i class="mdi mdi-cellphone-iphone"></i> 12345 67890, 56847-98562</a></p>
<p class="mb-0"><a class="text-success" href="#"><i class="mdi mdi-email"></i> <span class="__cf_email__" data-cfemail="d2bbb3bfbda1b3bab3bc92b5bfb3bbbefcb1bdbf">[email&#160;protected]</span></a></p>
<p class="mb-0"><a class="text-primary" href="."><i class="mdi mdi-web"></i> https://plus62store.my.id</a></p>
</div>
<div class="col-lg-2 col-md-2">
<h6 class="mb-4">TOP CITIES </h6>
<ul>
<li><a href="#">Sumedang</a></li>
<li><a href="#">Bandung</a></li>
<li><a href="#">Tasikmalaya</a></li>
<li><a href="#">Yogyakarta</a></li>
<li><a href="#">Solo</a></li>
<ul>
</div>
<div class="col-lg-2 col-md-2">
<h6 class="mb-4">CATEGORIES</h6>
<ul>
<li><a href="#">Vegetables</a></li>
<li><a href="#">Grocery & Staples</a></li>
<li><a href="#">Breakfast & Dairy</a></li>
<li><a href="#">Soft Drinks</a></li>
<li><a href="#">Biscuits & Cookies</a></li>
<ul>
</div>
<div class="col-lg-2 col-md-2">
<h6 class="mb-4">ABOUT US</h6>
<ul>
<li><a href="#">Company Information</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Store Location</a></li>
<li><a href="#">Affillate Program</a></li>
<li><a href="#">Copyright</a></li>
<ul>
</div>
<div class="col-lg-2 col-md-2">
<h6 class="mb-4">GET IN TOUCH</h6>
<div class="app">
<a href="#"><img src="{{site.baseurl}}/assets/img/ig.png" alt="logo-fb"></a>
<a href="#"><img src="{{site.baseurl}}/assets/img/fb.png" alt="logo-ig"></a>
<div class="footer-social">
<a class="btn-twitter" href="#"><i class="mdi mdi-twitter"></i></a>
<a class="btn-whatsapp" href="#"><i class="mdi mdi-whatsapp"></i></a>
<a class="btn-messenger" href="#"><i class="mdi mdi-facebook-messenger"></i></a>
<a class="btn-google" href="#"><i class="mdi mdi-google"></i></a>
</div>
</div>
</div>
</div>
</section>
