<script src="https://cdnjs.daffadev.workers.dev/014dae16526359492f549e0ff57b44accfb897f4/chalia/simpleCart.js"></script>
    <script src="https://cdnjs.daffadev.workers.dev/b8dcdc65425733fe41f6bfd245e69b0943887567/chalia/formOrder.js"></script>
    <script async src="https://cdnjs.daffadev.workers.dev/63158ee5373dfc6087ecd03351d9da12eeee860b/chalia/main.js"></script>
    <script async src="https://cdnjs.daffadev.workers.dev/63158ee5373dfc6087ecd03351d9da12eeee860b/chalia/responsive-menu.js"></script>

    {% if page.url contains '/products/' %}
      <script async src="https://cdnjs.daffadev.workers.dev/63158ee5373dfc6087ecd03351d9da12eeee860b/chalia/style-picker.js"></script>
      <script async src="https://cdnjs.daffadev.workers.dev/63158ee5373dfc6087ecd03351d9da12eeee860b/chalia/add-to-cart.js"></script>
    {% endif %}

    {% if page.url == '/checkout/' %}
      <script async src="https://cdnjs.daffadev.workers.dev/63158ee5373dfc6087ecd03351d9da12eeee860b/chalia/checkout.js"></script>
    {% endif %}
<script src="{{site.baseul}}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{{site.baseul}}/assets/vendor/owl-carousel/owl.carousel.js" type="text/javascript"></script>
<script src="{{site.baseul}}/assets/js/custom.js" type="text/javascript"></script>
<script>
window.onscroll=function(){myFunction()};var header=document.getElementById("head_er"),sticky=header.offsetTop;function myFunction(){window.pageYOffset>sticky?header.classList.add("sticky"):header.classList.remove("sticky")}
</script>
<script>
const btn=document.querySelector(".toggle"),currentTheme=localStorage.getItem("theme");"dark"==currentTheme&&document.body.classList.add("dark-mode"),btn.addEventListener("click",function(){document.body.classList.toggle("dark-mode");let a="light";document.body.classList.contains("dark-mode")&&(a="dark"),localStorage.setItem("theme",a)})
</script>
