<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
{%seo%}
<link rel="dns-prefetch" href="https://fonts.googleapis.com">

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/animate.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Martel:200,700,900|Open+Sans:400,700|Roboto+Condensed:700">
<link href="{{site.baseurl}}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{site.baseurl}}/assets/vendor/icons/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="https://kit.fontawesome.com/d6e78495c8.js" crossorigin="anonymous"></script>
<link href="{{site.baseurl}}/assets/vendor/select2/css/select2-bootstrap.css" />
<link href="{{site.baseurl}}/assets/vendor/select2/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<link rel="stylesheet" href="{{site.baseurl}}/assets/vendor/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/vendor/owl-carousel/owl.theme.css">
</head>
