<div class="modal fade login-modal-main" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="location-modal">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-body">
<div class="login-modal">
<div class="row">
<div class="col-lg-12 pad-left-0">
<button type="button" class="close close-top-right" data-bs-dismiss="modal" aria-label="Close" style="position:absolute;right:14px;color:#000!important;">
<span aria-hidden="true"><i class="mdi mdi-close"></i></span>
<span class="sr-only">Close</span>
</button>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d990.3377895499455!2d108.03092500000001!3d-6.848441!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xca74b2a99ff07f13!2sLapangan%20Tenis!5e0!3m2!1sid!2sid!4v1656254279105!5m2!1sid!2sid" width="100%" height="480" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
