<nav id="head_er" class="navbar navbar-light navbar-expand-lg bg-dark bg-faded sendaljepit-menu" itemscope itemtype="http://schema.org/WPHeader">
<div class="container-fluid">
<a class="navbar-brand" href="{{site.baseurl}}/"> <img src="{{site.baseurl}}/assets/img/logo-footer.png" alt="logo"> </a>
    {% include darkMode_btn.html %}
<div class="navbar-collapse" id="navbarNavDropdown">
<div class="navbar-nav mr-auto mt-2 mt-lg-0 margin-auto top-categories-search-main">
<div class="top-categories-search">
<div class="input-group">
<input class="form-control" placeholder="Cari Produk Yang Ada" aria-label="Search products in Your City" type="text">
<span class="input-group-btn">
<button class="btn btn-secondary" type="button"><i class="mdi mdi-file-find"></i> CARI</button>
</span>
</div>
</div>
</div>
<div class="my-2 my-lg-0">
<ul class="list-inline main-nav-right">
<li class="list-inline-item geo-btn"><a type="button" href="javascript:;" data-bs-target="#location-modal" data-bs-toggle="modal" class="btn btn-link"><i class="mdi mdi-map-marker-circle"></i> {{site.lokasi}}</a>
</li>
<li class="list-inline-item cart-btn {% if page.url == '/checkout/' %}display-none{% endif %}">
<a href="javascript:;" data-toggle="offcanvas" class="btn btn-link border-none"><i class="mdi mdi-cart"></i> My Cart <small id="cart-menu" class="cart-value simpleCart_quantity"></small></a>
</li>
</ul>
</div>
</div>
</div>
</nav>
