---
layout: post_product
---

<section class="shop-single section-padding pt-3 simpleCart_shelfItem" itemscope itemtype="http://schema.org/Product">
<p class="item_link display-none">{{site.url}}{{site.baseurl}}{{page.url}}</p>
    <div class="container">
        <div class="row">
<div class="col-md-6">
<div class="shop-detail-left">
<div class="shop-detail-slider">

<div class="favourite-icon">
<a class="fav-btn" title="Like Me, Pliiisss..." data-placement="bottom" data-toggle="tooltip" href="javascript:;" data-original-title="Like Me, Pliiisss..."><i class="mdi mdi-cards-heart mdi-24px"></i></a>
</div>
<img alt="{{ page.nama_produk }}" src="{{ page.gambar }}" class="img-fluid item_thumb img-center" itemprop="image"/>
</div>
</div>
</div>

<div class="col-md-6">
<div class="shop-detail-right">
{% if page.stock != 'disabled' %}
<span class="badge badge-success">{{ page.diskon }}</span>{% else %}
{% endif %}
{% if page.stock != 'disabled' %}
<span class="regular-price"> <i class="mdi mdi-tag-outline"></i> Rp. {{ page.harga_awal }}</span>{% else %}
{% endif %}
<h2 class="item_name mb-3" itemprop="name">{{ page.nama_produk }}</h2>
<h6 class="mb-4"><strong>{% if page.stock != 'disabled' %}<span class="mdi mdi-basket-check"> Stok Tersedia</span>{% else %}<span class="mdi mdi-basket-off"> Stok Habis</span>{% endif %}
</strong></h6>

          {% for item in page.picker %}
<p id="product-{{ forloop.index }}" {% unless forloop.first %}class="offer-price mb-0 display-none"{% endunless %}{% if forloop.first %} class="offer-price mb-0 item_price"{% endif %}>Harga : <span class="text-success">Rp. {{ item.harga }}</span></p>
          {% endfor %}

            <div class="plusminus">
                <div class="quantity buttons_added">
                    <input type="button" value="-" class="minus btn btn-md" />
                    <input type="number" step="1" min="1" max="12" name="quantity" value="1" title="Qty" class="item_Quantity input-text qty text" size="4" pattern="" inputmode="" disabled/>
                    <input type="button" value="+" class="plus btn btn-md" />
                 </div>
               </div>

            <div class="product-picker">
        <ul class="opsi-produk" id="items">
          {% for item in page.picker %}
            <li id="product-{{ forloop.index }}"{% if forloop.first %} class="active item_ukuran"{% endif %} value="{{ item.sizes }}"> {{ item.sizes }}</li>
          {% endfor %}
        </ul>
<div class="bottom-btn">
<a href="javascript:;"><button type="button" class="btn btn-success btn-md"><i class="fab fa-whatsapp"></i> Kontak</button> </a>
<a id="item_add" class="item_add" href="javascript:;"><button type="button" class="btn btn-info btn-md" onclick="confirm()" {% if page.stock != 'disabled' %}{% else %}title="Stok Habis" disabled{% endif %}><i class="mdi mdi-cart-outline"></i> Add To Cart</button> </a>
</div>
            </div>
<div class="short-description">
<h5 style="display:flex;justify-content:space-between;">
<a href="javascript:;" class="tbl">Quick Overview</a>
<small class="float-right"><span class="mdi mdi-chevron-left"></span> klik untuk deskripsi</small>
</h5>
<span id="hidden_content">{{ content }}</span>
</div>
<h6 class="mb-3 mt-4">Kenapa harus belanja di Chalia?</h6>
<div class="row">
 <div class="col-md-6">
<div class="feature-box">
<i class="mdi mdi-truck-fast"></i>
<h6 class="text-info">Free Delivery</h6>
<p>Lorem ipsum dolor...</p>
</div>
</div>
<div class="col-md-6">
<div class="feature-box">
<i class="mdi mdi-basket"></i>
<h6 class="text-info">100% Guarantee</h6>
<p>Rorem Ipsum Dolor sit...</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
function confirm() {
swal("{{ page.nama_produk }}", "item sudah masuk keranjang", "success", {
  button: "okey",
    });
}
</script>
</section>

<script>
$(document).ready(function() {
    $(".tbl").toggle(function() {
        $(this).text('Hide Content');
    }, function() {
        $(this).text('Quick Overview');
    }).click(function(){
        $("#hidden_content").slideToggle("slow");
    });
});
</script>
<style>#hidden_content{display:none;p{margin-top: 22px;}}.tbl{display:block !important;}</style>
