---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
{% include meta_head.html %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body onload="checkUsername()">
      {% include preload.html %}
      {% include modal_login.html %}
      {% include nav_bar.html %}
      {% include breadcrumb.html %}
            {{content}}
      {% include footer.html %}
      {% include cart_side.html %}
      {% include jsScript.html %}
  </body>
</html>
